{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.2"}
        com.phronemophobic/membrane {:mvn/version "0.9.23-beta"}
        clj-stacktrace/clj-stacktrace {:mvn/version "0.2.8"}
        vlaaad/reveal {:mvn/version "RELEASE"}}
 :aliases
 {:run-m {:main-opts ["-m" "com.phronemophobic.reveal-plugin.reveal-exception"]}
  :run-x {:ns-default com.phronemophobic.reveal-plugin.reveal-exception
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.193"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true
                        :jar "reveal-exception.jar"
                        :main-class "com.phronemophobic.reveal-plugin.reveal-exception"
                        :sync-pom true}}}}
